@font-face {
    font-family: 'Proxima';
    src: url('../fonts/proxima-nova.otf');
}

h1 {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 0;
}

h2 {
    font-size: 18px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-family: Arial, sans-serif;
}

p {
    margin: 0;
    margin-left: 5px;
    padding: 1px;
    font-family: 'Proxima';
}

br {
    margin: 0;
    padding: 0;
}

@media print {
    #printPageButton {
        display: none;
    }
}

.button {
    padding: 0 20px;
    width: 40%;
    height: 50px;
    background-color: #3d3d3d;
    border-radius: 25px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    outline: none !important;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button:hover {
    background-color: #00ad5f;
}